.link {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    border-right: 1px solid gray;
    background-color: springgreen;
    color: whitesmoke;
}
.active {
    background-color: forestgreen;
    color: whitesmoke;
    transition: background-color 2.5s;
    transition-delay: 100ms;
}

.pending {
    background-color: forestgreen;
    transition: background-color 2.5s;
    transition-delay: 100ms;
}

.loading {
    opacity: 0.05;
    transition: opacity 2.5s;
    transition-delay: 100ms;
}

.sale {
    display: block;
    color: red;
    font-size: 12px;
}