.container {
  display: flex;
  flex-direction: column;
}

.center_align {
  display: flex;
  justify-content: center;
}

.buttons_div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
