.todo {
  padding: "20px";
  background-color: wheat;
  color: "#44046";
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.todo:hover {
  background-color: #f5ce93;
}

.button_pink {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 10px
}