/* стили компонента Banner */
.container {
    position: relative;
    height: 30vh;
    width: 90%;
    margin: 30px auto;
}

.picture {
    height: 80%;
}

.caption {
    background-color: #97B3C2;
    color: #394053;
    padding: 10px;
    font-size: 20px;
    text-align: left;
}
